# ======================
# DATA (IGNORE ALL)
# ======================
data/
histdata/
histdata_backup/

# ======================
# MODELS (IGNORE ALL)
# ======================
models/

# ======================
# ENVIRONMENT
# ======================
amr-qts-env/
venv/
.env/

# ======================
# LOGS
# ======================
logs/
mt5/logs/

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.pyc

# ======================
# BUILD FILES
# ======================
dist/
build/
*.egg-info/

# ======================
# IDE
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS
# ======================
Thumbs.db
.DS_Store

# ======================
# MT5
# ======================
*.ex5

# ======================
# SECRETS
# ======================
config/secrets.json